main {
  display: flex;
  flex-direction: row;
}
main section{
  padding-left:10%;
}
main p{
  color: white;
  font-family: "Roboto";
  font-size: 2.9em;
  width: 14%;
}

main section > img{

  /*Coin Check Logo*/
  width: 19vh;
  margin-top: 10vh;
}
 /*img[alt="phones"]{*/
 /*  width: 300px; height: 337px;*/
 /*  object-fit: cover;*/


   /*background-color: #6F6FA0;*/
  /*margin-right: 0;*/
  /*padding-right:0px ;*/
/*background-color: #ffe0e0;*/
/*   width: 2100px;*/
/*   height: 870px;*/
/*   object-fit: cover;*/
/*   object-position: 70px 50px;*/
/*}*/

body {
  /* Rectangle 15 */
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, #062A60 0%, #6F6FA0 100%);

  /*background-image: url("src/assets/Phones/phones.svg");*/
  /*background-image: url("src/assets/Phones/phones.svg"),linear-gradient(180deg, #062A60 0%, #6F6FA0 100%);*/
  /*background-color:#062A60;*/
  /*background-position: 4% 15%;*/
}
header nav {
  display: flex;
  flex-direction: row;
}
nav img {
  min-width: 3vh;
  max-width: 3.5vw;
  padding: 2%;
}
nav > a:first-child {
  padding-left: 30px;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
}
nav a {
  padding: 15px 50px;
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

nav ul > li:last-child {
  border: 2px solid white;
  border-radius: 30px;
  padding: 9px 0;
}

