<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Print Api</title>
</head>
<body>
<div>

<table id = "todo">
  <!--  Table is the best option for formatting. I mean it exist for a reason duh!-->
  <tr>
    <th> ID</th>
    <th> User Id</th>
    <th>Title</th>
    <th>State</th>
  </tr>
  <tr  *ngFor="let items of todoData">
    <td>{{items.id}}</td>
    <td>{{items.userId}}</td>
    <td>{{items.title}}</td>
    <td>{{items.completed}}</td>
  </tr>
</table>
</div>
</body>
</html>


<!--<h1 style="background-color: #99e271">Coin Gecko</h1>-->
<!--<div>-->
<!--  <table>-->
<!--    <tr>-->

<!--      <th>Rank</th>-->
<!--      <th>Logo</th>-->
<!--      <th>Name</th>-->
<!--      <th>Price</th>-->
<!--      <th>MarketCap</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let coins of coinGecko | slice:0:10; let i=index">-->
<!--      <td>{{coins.market_cap_rank }}</td>-->
<!--      <td><img style="width: 25px" src="{{coins.image}}" alt="crypto-Image"></td>-->
<!--      <td>{{coins.name | uppercase}}</td>-->
<!--      <td>{{ +coins.current_price | currency}}</td>-->
<!--      <td>{{ coins.market_cap | currency}}</td>-->

<!--    </tr>-->
<!--  </table>-->
<!--</div>-->




<!--<h1>LOCAL CoinCap</h1>-->
<!--<p>Data from CoinCap</p>-->
<!--<table>-->
<!--  <tr>-->
<!--    <th>rank</th>-->
<!--    <th> name </th>-->
<!--    <th>priceUsd</th>-->
<!--    <th>marketCapUsd</th>-->
<!--  </tr>-->
<!--  <tr  *ngFor="let items of coinCap">-->
<!--    <td>{{items.id}}</td>-->
<!--    <td>{{items.name}}</td>-->
<!--    <td>{{items.marketCapUsd}}</td>-->
<!--    <td>{{"hhh" + items.explorer}}</td>-->
<!--  </tr>-->
<!--</table>-->



<!--<h1>LOCAL</h1>-->
<!--<p>Data From CoinCodex</p>-->

<!--<table>-->
<!--  <tr>-->
<!--    <th> name</th>-->
<!--    <th> price_change_7D_percent </th>-->
<!--    <th>price_change_1D_percent</th>-->
<!--    <th>last_price_usd</th>-->
<!--  </tr>-->
<!--  <tr  *ngFor="let items of coinCodex">-->
<!--    <td>{{items.name}}</td>-->
<!--    <td>{{items.price_change_7D_percent}}</td>-->
<!--    <td>{{items.price_change_1D_percent}}</td>-->
<!--    <td>{{"CAD " + items.last_price_usd / 0.78}}</td>-->
<!--  </tr>-->
<!--</table>-->



<!--Initial Method-->
<!--<div *ngFor="let items of todoData; let i = index">-->
<!--  <p>{{ items | json}}</p>-->
<!--  <p>-->
<!--    {{i + 1}}-->
<!--  </p>-->
<!--&lt;!&ndash;  <p>{{items.id}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>{{items.userId}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>{{items.title}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>{{items.completed}}</p>&ndash;&gt;-->
<!--</div>-->
