body {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /*min-width: 720px;*/
  /*max-width: 1800px;*/
}

/*Table styles (please ignore)*/
table {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  border-collapse: collapse;

}

table td, table th {
  border-bottom: 1pt solid rgba(142, 142, 142, 0.07);
  padding: 10px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(6, 42, 96, 0.95);
  color: #ffffff;
}

th {
  /*position: sticky;*/
  /*top: 0;*/
}

/*table tr:nth-child(even){background-color: #c71f1f;}*/
/*table tr:hover {background-color: #99e271;}*/
