body {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

body > p{
align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight : 900;
  color: #6750A4;
  font-size: 15px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-weight :200;
  font-size: large;
}
.sliders {
  margin: 20px 10px;
  background-color: white;
  width: 260px;
  border-radius: 20px;
  padding: 10px 0px 10px 30px;

  filter: drop-shadow(1px 1px 8px rgb(224, 224, 224));

  /*Layout*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  spacing:50px;
}

img {
  filter: hue-rotate(90deg);
  width:70%
}

#coin-Name {
  color: #6750A4;
  font-family: 'Roboto', sans-serif;
  font-weight :600;
  font-size: large;
}
#fix0 {

  padding-top: 12%;
  padding-left: 15%;
}

#fix {
  width:50%;
  padding-left: 50%;
}

